# EditorConfig is awesome: http://EditorConfig.org

root = true

# 4 space indentation
[*]
indent_style = space
indent_size = 4

[*.html]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.{js,ts,styl,less,sass,scss,css}]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_size = 2

[*.md]
trim_trailing_whitespace = false